# Feature Engineering Exercises 
- https://ds.codeup.com/regression/feature-engineering/

In [1]:
import pandas as pd
import numpy as np
import wrangle
import warnings
warnings.filterwarnings("ignore")

**1. Load the tips dataset**

In [2]:
# import data from pydataset
from pydataset import data
tips = data('tips')

In [3]:
# make the dataset a pandas dataframe
df = pd.DataFrame(tips)
df.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 244 entries, 1 to 244
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 15.2+ KB

**1a. Create a column named tip_percentage. This should be the tip amount divided by the total bill.**

In [6]:
df.tip/df.total_bill*100

1       5.944673
2      16.054159
3      16.658734
4      13.978041
5      14.680765
         ...
240    20.392697
241     7.358352
242     8.822232
243     9.820426
244    15.974441
Length: 244, dtype: float64

In [7]:
df['tip_percentage'] = df.tip/df.total_bill*100

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 244 entries, 1 to 244
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   total_bill      244 non-null    float64
 1   tip             244 non-null    float64
 2   sex             244 non-null    object
 3   smoker          244 non-null    object
 4   day             244 non-null    object
 5   time            244 non-null    object
 6   size            244 non-null    int64
 7   tip_percentage  244 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 17.2+ KB

In [9]:
df.head()

   total_bill   tip     sex smoker  day    time  size  tip_percentage
1       16.99  1.01  Female     No  Sun  Dinner     2        5.944673
2       10.34  1.66    Male     No  Sun  Dinner     3       16.054159
3       21.01  3.50    Male     No  Sun  Dinner     3       16.658734
4       23.68  3.31    Male     No  Sun  Dinner     2       13.978041
5       24.59  3.61  Female     No  Sun  Dinner     4       14.680765

**1b. Create a column named price_per_person. This should be the total bill divided by the party size.**

In [10]:
df.total_bill/df.size.astype(float)*1000

1       8.703893
2       5.297131
3      10.763320
4      12.131148
5      12.597336
         ...
240    14.871926
241    13.924180
242    11.613730
243     9.129098
244     9.620902
Name: total_bill, Length: 244, dtype: float64

In [14]:
df['price_per_pserson'] = df.total_bill/df.size.astype(float)*1000
#.astype(float)*1000

In [15]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,tip_percentage,price_per_pserson
1,16.99,1.01,Female,No,Sun,Dinner,2,5.944673,7.736794
2,10.34,1.66,Male,No,Sun,Dinner,3,16.054159,4.708561
3,21.01,3.50,Male,No,Sun,Dinner,3,16.658734,9.567395
4,23.68,3.31,Male,No,Sun,Dinner,2,13.978041,10.783242
5,24.59,3.61,Female,No,Sun,Dinner,4,14.680765,11.197632

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 244 entries, 1 to 244
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   total_bill         244 non-null    float64
 1   tip                244 non-null    float64
 2   sex                244 non-null    object
 3   smoker             244 non-null    object
 4   day                244 non-null    object
 5   time               244 non-null    object
 6   size               244 non-null    int64
 7   tip_percentage     244 non-null    float64
 8   price_per_pserson  244 non-null    float64
dtypes: float64(4), int64(1), object(4)
memory usage: 19.1+ KB

**1c. Before using any of the methods discussed in the lesson, which features do you think would be most important for 
predicting the tip amount? The tip percentage?**

- We could use features and group them into what we Hypothesize (guess) are the most import features for predicting the tip amount (tip_percentage): 
    - Features:
        - total_bill
        - time
        - size

**1d. Use all the other numeric features to predict tip amount. Use select k best and recursive feature elimination to select the top 2 features. What are they?**