# Feature Engineering Exercises 
- https://ds.codeup.com/regression/feature-engineering/

In [1]:
import wrangle
import warnings
warnings.filterwarnings("ignore")


from pydataset import data
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import sklearn.feature_selection
import sklearn.preprocessing

In [2]:
def split(df):
    '''
    take in a DataFrame and return train, validate, and test DataFrames.
    return train, validate, test DataFrames.
    '''
    train_validate, test = train_test_split(df, test_size=.2, random_state=123)
    train, validate = train_test_split(train_validate, 
                                       test_size=.3, 
                                       random_state=123)
    return train, validate, test

**1. Load the tips dataset**

In [3]:
# import data from pydataset
from pydataset import data
tips = data('tips')

In [5]:
# make the dataset a pandas dataframe
df = pd.DataFrame(tips)
df.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
# Rename the size column because .size is a built-in Pandas attribute
df = df.rename(columns={'size': 'number_of_people'})

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 244 entries, 1 to 244
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   total_bill        244 non-null    float64
 1   tip               244 non-null    float64
 2   sex               244 non-null    object
 3   smoker            244 non-null    object
 4   day               244 non-null    object
 5   time              244 non-null    object
 6   number_of_people  244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 15.2+ KB

**1a. Create a column named tip_percentage. This should be the tip amount divided by the total bill.**

In [9]:
df.tip/df.total_bill*100

1       5.944673
2      16.054159
3      16.658734
4      13.978041
5      14.680765
         ...
240    20.392697
241     7.358352
242     8.822232
243     9.820426
244    15.974441
Length: 244, dtype: float64

In [10]:
df['tip_percentage'] = df.tip/df.total_bill*100

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 244 entries, 1 to 244
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   total_bill        244 non-null    float64
 1   tip               244 non-null    float64
 2   sex               244 non-null    object
 3   smoker            244 non-null    object
 4   day               244 non-null    object
 5   time              244 non-null    object
 6   number_of_people  244 non-null    int64
 7   tip_percentage    244 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 17.2+ KB

In [12]:
df.head()

,total_bill,tip,sex,smoker,day,time,number_of_people,tip_percentage
1,16.99,1.01,Female,No,Sun,Dinner,2,5.944673
2,10.34,1.66,Male,No,Sun,Dinner,3,16.054159
3,21.01,3.50,Male,No,Sun,Dinner,3,16.658734
4,23.68,3.31,Male,No,Sun,Dinner,2,13.978041
5,24.59,3.61,Female,No,Sun,Dinner,4,14.680765

**1b. Create a column named price_per_person. This should be the total bill divided by the party size.**

In [14]:
df.total_bill/df.number_of_people.astype(float)

1       8.495000
2       3.446667
3       7.003333
4      11.840000
5       6.147500
         ...
240     9.676667
241    13.590000
242    11.335000
243     8.910000
244     9.390000
Length: 244, dtype: float64

In [16]:
df['price_per_person'] = df.total_bill/df.number_of_people.astype(float)
#.astype(float)*1000

In [17]:
df.head()

,total_bill,tip,sex,smoker,day,time,number_of_people,tip_percentage,price_per_person
1,16.99,1.01,Female,No,Sun,Dinner,2,5.944673,8.495000
2,10.34,1.66,Male,No,Sun,Dinner,3,16.054159,3.446667
3,21.01,3.50,Male,No,Sun,Dinner,3,16.658734,7.003333
4,23.68,3.31,Male,No,Sun,Dinner,2,13.978041,11.840000
5,24.59,3.61,Female,No,Sun,Dinner,4,14.680765,6.147500

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 244 entries, 1 to 244
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   total_bill        244 non-null    float64
 1   tip               244 non-null    float64
 2   sex               244 non-null    object
 3   smoker            244 non-null    object
 4   day               244 non-null    object
 5   time              244 non-null    object
 6   number_of_people  244 non-null    int64
 7   tip_percentage    244 non-null    float64
 8   price_per_person  244 non-null    float64
dtypes: float64(4), int64(1), object(4)
memory usage: 19.1+ KB

In [20]:
# For this specific exercise, we're only focusing on the numeric features
df["dinner_time"] = df.time == "Dinner"
df = df[["total_bill", "tip", "number_of_people", "tip_percentage", "price_per_person", "dinner_time"]]

In [21]:
# Split the data
train, validate, test = split(df)

In [22]:
# X and y splits
target = "tip"

X_train = train.drop(columns=[target])
y_train = train[target]

X_validate = validate.drop(columns=[target])
y_validate = validate[target]

X_test = test.drop(columns=[target])
y_test = test[target]

In [23]:
X_train.head()

,total_bill,number_of_people,tip_percentage,price_per_person,dinner_time
19,16.97,3,20.624632,5.656667,True
173,7.25,2,71.034483,3.625000,True
119,12.43,2,14.481094,6.215000,False
29,21.70,2,19.815668,10.850000,True
238,32.83,2,3.563814,16.415000,True

In [24]:
# Scale (Make the thing)
scaler = sklearn.preprocessing.MinMaxScaler()

# Fit the scaler, (fit the thing)
scaler.fit(X_train)

# Use the scaler to transform train, validate, test (use the thing)
X_train_scaled = scaler.transform(X_train)
X_validate_scaled = scaler.transform(X_validate)
X_test_scaled = scaler.transform(X_test)

In [25]:
X_train_scaled

array([[0.30711445, 0.4       , 0.25286274, 0.15034389, 1.        ],
       [0.09235528, 0.2       , 1.        , 0.03225806, 1.        ],
       [0.20680513, 0.2       , 0.1618078 , 0.1827957 , 0.        ],
       [0.41162174, 0.2       , 0.24087288, 0.45219413, 1.        ],
       [0.65753425, 0.2       , 0.        , 0.77564661, 1.        ],
       [0.78789218, 0.6       , 0.06198426, 0.38433595, 1.        ],
       [0.44410075, 0.6       , 0.36296815, 0.15823888, 1.        ],
       [0.3804684 , 0.2       , 0.18166098, 0.41121767, 1.        ],
       [0.31794079, 0.2       , 0.16279257, 0.32897414, 1.        ],
       [0.40720283, 0.6       , 0.18845606, 0.13397268, 1.        ],
       [0.1979673 , 0.2       , 0.13198349, 0.17117117, 1.        ],
       [0.19774635, 0.2       , 0.19009056, 0.17088056, 1.        ],
       [0.34710561, 0.2       , 0.18394107, 0.36733508, 1.        ],
       [0.32744145, 0.2       , 0.11287299, 0.3414705 , 1.        ],
       [0.31816173, 0.2       , 0.24411394, 0.32926475, 0.        ],
       [0.69730446, 0.2       , 0.09911586, 0.82795699, 1.        ],
       [0.71122404, 0.6       , 0.15735076, 0.33391456, 1.        ],
       [0.33517455, 0.2       , 0.25270568, 0.35164196, 1.        ],
       [0.2105612 , 0.2       , 0.06480882, 0.18773612, 1.        ],
       [0.16438356, 0.2       , 0.12345544, 0.12699797, 1.        ],
       [0.46420681, 0.6       , 0.12690599, 0.17146178, 0.        ],
       [0.12174105, 0.        , 0.27884426, 0.32025574, 0.        ],
       [0.80313743, 0.6       , 0.23217502, 0.3943621 , 1.        ],
       [0.43636765, 0.4       , 0.08876761, 0.26368304, 0.        ],
       [0.182943  , 0.2       , 0.27363917, 0.15140947, 1.        ],
       [0.15466195, 0.2       , 0.13115765, 0.11421099, 1.        ],
       [0.19443217, 0.2       , 0.15070673, 0.16652136, 0.        ],
       [0.60384445, 0.6       , 0.22020293, 0.26329555, 1.        ],
       [0.32501105, 0.2       , 0.2197642 , 0.33827376, 1.        ],
       [0.17896597, 0.2       , 0.14621188, 0.14617844, 0.        ],
       [0.14604507, 0.2       , 0.14928783, 0.10287707, 1.        ],
       [0.36986301, 0.2       , 0.2606632 , 0.39726824, 0.        ],
       [0.52982766, 1.        , 0.22114016, 0.08359973, 0.        ],
       [0.32589483, 0.2       , 0.09273086, 0.33943621, 1.        ],
       [0.29275298, 0.2       , 0.33769082, 0.29584423, 1.        ],
       [0.47392841, 0.4       , 0.15753041, 0.2966192 , 1.        ],
       [0.56053911, 0.2       , 0.08059195, 0.64806742, 0.        ],
       [0.39637649, 0.2       , 0.15881125, 0.43214182, 1.        ],
       [0.31352187, 0.4       , 0.18246509, 0.15596241, 1.        ],
       [0.14427751, 0.2       , 0.56473211, 0.10055217, 1.        ],
       [0.25209898, 0.2       , 0.15189328, 0.2423714 , 1.        ],
       [0.20790985, 0.2       , 0.24645515, 0.18424876, 0.        ],
       [0.32810429, 0.2       , 0.20192013, 0.34234234, 1.        ],
       [0.26491383, 0.2       , 0.24242394, 0.25922697, 1.        ],
       [0.38400354, 0.6       , 0.16460653, 0.11871549, 1.        ],
       [0.2638091 , 0.2       , 0.15355172, 0.2577739 , 1.        ],
       [0.59346001, 0.6       , 0.19824484, 0.25646614, 1.        ],
       [0.15510384, 0.2       , 0.24096088, 0.11479221, 0.        ],
       [0.22757402, 0.2       , 0.16888894, 0.21011334, 1.        ],
       [0.12019443, 0.2       , 0.16488332, 0.06887533, 0.        ],
       [0.64803358, 0.6       , 0.2216475 , 0.29235687, 1.        ],
       [0.55457357, 0.4       , 0.2891683 , 0.36733508, 1.        ],
       [0.27198409, 0.2       , 0.23628101, 0.26852659, 1.        ],
       [0.20083959, 0.2       , 0.21532752, 0.17494914, 0.        ],
       [0.36897923, 0.6       , 0.09711663, 0.10883464, 1.        ],
       [0.43482103, 0.2       , 0.15891203, 0.48270851, 1.        ],
       [0.25762262, 0.2       , 0.16854275, 0.24963673, 1.        ],
       [1.        , 0.6       , 0.22318084, 0.52383028, 1.        ],
       [0.18868758, 0.2       , 0.37994514, 0.15896542, 1.        ],
       [0.14317278, 0.2       , 0.17221457, 0.0990991 , 1.        ],
       [0.15908087, 0.2       , 0.1939602 , 0.12002325, 1.        ],
       [0.24480778, 0.2       , 0.15666751, 0.23278117, 0.        ],
       [0.34401237, 0.4       , 0.05531772, 0.18269883, 0.        ],
       [0.3451171 , 0.4       , 0.13036386, 0.18366754, 1.        ],
       [0.28060097, 0.2       , 0.15676382, 0.27986051, 1.        ],
       [0.10318162, 0.2       , 0.22292409, 0.04649811, 1.        ],
       [0.28524083, 0.2       , 0.13545983, 0.28596338, 0.        ],
       [0.77198409, 0.6       , 0.06415893, 0.37387387, 1.        ],
       [0.82810429, 0.2       , 0.05683151, 1.        , 1.        ],
       [0.33627928, 0.6       , 0.25187046, 0.08732926, 1.        ],
       [0.27883341, 0.2       , 0.08887441, 0.2775356 , 1.        ],
       [0.21365444, 0.2       , 0.18101594, 0.19180471, 0.        ],
       [0.49690676, 0.6       , 0.19883962, 0.19296716, 1.        ],
       [0.43504198, 0.2       , 0.14253906, 0.48299913, 0.        ],
       [0.42090146, 0.2       , 0.14015094, 0.46439988, 1.        ],
       [0.14825453, 0.2       , 0.20935539, 0.1057832 , 0.        ],
       [0.99646487, 1.        , 0.10102302, 0.28819142, 1.        ],
       [0.53314185, 0.6       , 0.16513944, 0.21679744, 0.        ],
       [0.22801591, 0.2       , 0.23607806, 0.21069457, 1.        ],
       [0.28148475, 0.2       , 0.24341742, 0.28102296, 1.        ],
       [0.69001326, 1.        , 0.23669121, 0.15383125, 0.        ],
       [0.28568272, 0.2       , 0.1324455 , 0.28654461, 0.        ],
       [0.27286787, 0.2       , 0.09808364, 0.26968904, 1.        ],
       [0.24834291, 0.2       , 0.36147066, 0.23743098, 1.        ],
       [0.38930623, 0.8       , 0.30535417, 0.06207498, 1.        ],
       [0.5256297 , 0.2       , 0.12044392, 0.60215054, 1.        ],
       [0.20923553, 0.2       , 0.24265938, 0.18599244, 1.        ],
       [0.32081308, 0.4       , 0.16962503, 0.1623559 , 1.        ],
       [0.21188688, 0.2       , 0.23985862, 0.1894798 , 1.        ],
       [0.33627928, 0.2       , 0.19028405, 0.35309503, 1.        ],
       [0.21939903, 0.2       , 0.17519912, 0.19936065, 0.        ],
       [0.22867875, 0.2       , 0.33151638, 0.21156641, 0.        ],
       [0.29209015, 0.4       , 0.28472957, 0.13716943, 1.        ],
       [0.40897039, 0.2       , 0.21640743, 0.44870677, 1.        ],
       [0.63278833, 0.6       , 0.15750983, 0.28233072, 1.        ],
       [0.3857711 , 0.6       , 0.23595244, 0.11987794, 0.        ],
       [0.22867875, 0.2       , 0.1327216 , 0.21156641, 0.        ],
       [0.32567388, 0.6       , 0.14191163, 0.08035455, 1.        ],
       [0.25872735, 0.2       , 0.27108139, 0.2510898 , 1.        ],
       [0.5735749 , 0.4       , 0.24942518, 0.3839969 , 1.        ],
       [0.21254971, 0.2       , 0.18076933, 0.19035164, 1.        ],
       [0.33561644, 0.2       , 0.21097542, 0.35222319, 0.        ],
       [0.24304021, 0.2       , 0.21052834, 0.23045626, 1.        ],
       [0.22293416, 0.2       , 0.25689449, 0.20401046, 0.        ],
       [0.18051259, 0.2       , 0.1792564 , 0.14821273, 1.        ],
       [0.29164825, 0.2       , 0.17491882, 0.29439117, 0.        ],
       [0.46840477, 0.2       , 0.07114828, 0.52688172, 1.        ],
       [0.29562528, 0.2       , 0.16972388, 0.2996222 , 1.        ],
       [0.28524083, 0.4       , 0.22542615, 0.13116342, 0.        ],
       [0.16040654, 0.4       , 0.18678771, 0.02169912, 1.        ],
       [0.21409633, 0.2       , 0.20620331, 0.19238593, 1.        ],
       [0.47812638, 0.2       , 0.29806748, 0.5396687 , 0.        ],
       [0.29253204, 0.4       , 0.1289242 , 0.13755691, 1.        ],
       [0.55413168, 0.8       , 0.10513279, 0.14879396, 1.        ],
       [0.28457799, 0.2       , 0.13302627, 0.28509154, 0.        ],
       [0.0992046 , 0.2       , 0.22948943, 0.04126707, 0.        ],
       [0.99867433, 0.6       , 0.15382378, 0.52295844, 1.        ],
       [0.46266019, 0.6       , 0.07063883, 0.17044464, 1.        ],
       [0.20746796, 0.2       , 0.12560583, 0.18366754, 1.        ],
       [0.1674768 , 0.2       , 0.15592988, 0.13106655, 0.        ],
       [0.09235528, 0.        , 0.15161091, 0.24295263, 1.        ],
       [0.51966416, 0.4       , 0.13725307, 0.33672382, 1.        ],
       [0.30755634, 0.2       , 0.03528733, 0.31531532, 1.        ],
       [0.22558551, 0.2       , 0.25074769, 0.20749782, 1.        ],
       [0.12041538, 0.2       , 0.20463823, 0.06916594, 0.        ],
       [0.16062749, 0.4       , 0.18512259, 0.02189286, 1.        ],
       [0.33605833, 0.2       , 0.27149611, 0.35280442, 0.        ],
       [0.65908087, 0.2       , 0.08728347, 0.77768091, 1.        ],
       [0.25983208, 0.2       , 0.24900173, 0.25254287, 1.        ],
       [0.        , 0.        , 0.42995685, 0.        , 1.        ],
       [0.39438798, 0.2       , 0.23623679, 0.4295263 , 1.        ],
       [0.17012815, 0.2       , 0.14947549, 0.13455391, 1.        ],
       [0.12593902, 0.2       , 0.28517879, 0.07643127, 1.        ],
       [0.52607159, 0.6       , 0.11921224, 0.21214763, 1.        ],
       [0.3146266 , 0.2       , 0.24685857, 0.32461494, 1.        ],
       [0.39085285, 0.2       , 0.10710087, 0.42487649, 1.        ]])

**1c. Before using any of the methods discussed in the lesson, which features do you think would be most important for 
predicting the tip amount? The tip percentage?**

- We could use features and group them into what we Hypothesize (guess) are the most import features for predicting the tip amount (tip_percentage): 
    - Features:
        - total_bill
        - time
        - size

**1d. Use all the other numeric features to predict tip amount. Use select k best and recursive feature elimination to select the top 2 features. What are they?**

SelectKBest
- Uses an F Test to compare how well each feature predicts the target variable.

In [26]:
# Use numeric features to predict tip_amount
# Use select-K-best and RFE to select the top 2 features
k = 2

# Make the thing
kbest = sklearn.feature_selection.SelectKBest(sklearn.feature_selection.f_regression, k=2)
# fit the thing
kbest.fit(X_train_scaled, y_train)
# use the thing, 
# get_support() produces an array of booleans, so we can filter out the column names that matter the most
X_train.columns[kbest.get_support()]

Index(['total_bill', 'number_of_people'], dtype='object')

In [27]:
# Now let's do RFE

# Make the thing(s)
lm = sklearn.linear_model.LinearRegression()
rfe = sklearn.feature_selection.RFE(lm, n_features_to_select=2)
# Fit the thing
rfe.fit(X_train_scaled, y_train)
# use the thing
rfe_columns = X_train.columns[rfe.support_].tolist()
rfe_columns

['total_bill', 'tip_percentage']

**2. Write a function named select_kbest that takes in the predictors (X), the target (y), and the number of features to select (k) and returns the names of the top k selected features based on the SelectKBest class. Test your function with the tips dataset. You should see the same results as when you did the process manually.**

def select_kbest(X, y, k):
    # make the object
    kbest = sklearn.feature_selection.SelectKBest(sklearn.feature_selection.f_regression, k=k)

    # fit the object
    kbest.fit(X, y)
    
    # use the object (.get_support() is that array of booleans to filter the list of column names)
    return X.columns[kbest.get_support()].tolist()

In [32]:
select_kbest(X_train, y_train, 2)

['total_bill', 'number_of_people']

**3. Write a function named rfe that takes in the predictors, the target, and the number of features to select. It should return the top k features based on the RFE class. Test your function with the tips dataset. You should see the same results as when you did the process manually.**

In [33]:
def select_rfe(X, y, k, return_rankings=False, model=LinearRegression()):
    # Use the passed model, LinearRegression by default
    rfe = sklearn.feature_selection.RFE(model, n_features_to_select=k)
    rfe.fit(X, y)
    features = X.columns[rfe.support_].tolist()
    if return_rankings:
        rankings = pd.Series(dict(zip(X.columns, rfe.ranking_)))
        return features, rankings
    else:
        return features

In [34]:
features_to_use, feature_rankings = select_rfe(X_train, y_train, 3, return_rankings=True)

In [35]:
feature_rankings

total_bill          1
number_of_people    1
tip_percentage      1
price_per_person    3
dinner_time         2
dtype: int64

**4. Load the swiss dataset and use all the other features to predict Fertility. Find the top 3 features using both select k best and recursive feature elimination (use the functions you just built to help you out).**

In [37]:
swiss = data('swiss')
swiss.head()

,Fertility,Agriculture,Examination,Education,Catholic,Infant.Mortality
Courtelary,80.2,17.0,15,12,9.96,22.2
Delemont,83.1,45.1,6,9,84.84,22.2
Franches-Mnt,92.5,39.7,5,5,93.40,20.2
Moutier,85.8,36.5,12,7,33.77,20.3
Neuveville,76.9,43.5,17,15,5.16,20.6

In [38]:
# Split the data
train, validate, test = split(swiss)

# Setup X and y
X_train = train.drop(columns='Fertility')
y_train = train.Fertility

X_validate = validate.drop(columns='Fertility')
y_validate = validate.Fertility

X_test = test.drop(columns='Fertility')
y_test = test.Fertility

In [39]:
# Scale the data
scaler = sklearn.preprocessing.MinMaxScaler()

# Fit the scaler
scaler.fit(X_train)

# Use the scaler to transform train, validate, test
X_train_scaled = scaler.transform(X_train)
X_validate_scaled = scaler.transform(X_validate)
X_test_scaled = scaler.transform(X_test)

# Turn everything into a dataframe
X_train_scaled = pd.DataFrame(X_train_scaled, columns=X_train.columns)
X_validate_scaled = pd.DataFrame(X_validate_scaled, columns=X_train.columns)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=X_train.columns)

In [40]:
select_kbest(X_train_scaled, y_train, 3)

['Examination', 'Catholic', 'Infant.Mortality']

In [41]:
features, rankings = select_rfe(X_train_scaled, y_train, 3, return_rankings=True)

In [42]:
features

['Agriculture', 'Examination', 'Infant.Mortality']

In [43]:
rankings

Agriculture         1
Examination         1
Education           3
Catholic            2
Infant.Mortality    1
dtype: int64